* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

#banner-container {
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
}

#banner-container img {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 525px;
  text-align: right;
  margin-right: 230px;
  margin-top: 226px;
}

.banner-text h2 {
  font-size: 65px;
  color: #151414;
  margin-bottom: 12px;
}

.banner-text p {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 32px;
}

.banner-text button {
  height: 64px;
  width: 160px;
  background-color: #f15b22;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#failures .failures-container {
  display: flex;
  gap: 87px;
  align-items: center;
  width: 1072px;
  height: 724px;
  margin: 130px auto 0;
}

.failures-container img {
  height: 723px;
  width: 569px;
}

.failures-container .failures-text {
  max-width: 416px;
  margin-top: 100px;
}

.failures-text h2 {
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
  max-width: 288px;
}

.failures-text p {
  font-size: 15px;
  line-height: 26px;
  max-width: 416px;
  margin-bottom: 16px;
}

.failures-text ul li {
  list-style: none;
  color: #444343;
  margin: 8px 0;
}

#plans {
  margin: 130px 0 130px;
  text-align: center;
}

#plans h2 {
  font-size: 40px;
  color: #151414;
  margin-bottom: 56px;
}

#plans .plans-container {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  gap: 86px;
}

.plans-container .plan-card img {
  width: 93px;
}

.plans-container .plan-card h3 {
  font-size: 30px;
  color: #151414;
  margin-bottom: 16px;
}

.plans-container .plan-card p {
  color: #737272;
  font-size: 25px;
}

#mindset {
}

#mindset .mindset-container {
  display: flex;
  background: url("./images/gradient2.png"), url("./images/watch.png");
  height: 300px;
  width: 1140px;
  background-repeat: no-repeat;
  background-position: 0 auto;
  margin: 0 auto 130px;
  border-radius: 8px;
  align-items: center;
}

.mindset-container .card {
  max-width: 460px;
  margin-left: 65px;
}

.mindset-container .card h2 {
  font-size: 40px;
  color: #fff;
}

.mindset-container .card button {
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 64px;
  font-size: 20px;
  color: #f15b22;
  font-weight: 600;
  margin-top: 24px;
}
